.vs-shadow--sm {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.overlay {
  position: fixed;
  top: inherit;
  height: inherit;
  background-color: rgba(0, 0, 0, 0.35);
  width: 100%;
  left: 0;
}
.vs-dataTable {
  border-collapse: separate;
  border-spacing: 0 10px;
  width: 100%;
}
.vs-dataTable >:not(caption)>*>*  {
  padding: var(--p-4) var(--p-6);
  color: rgba(var(--color-light-rgb), .7);
}
.vs-dataTable td {
  text-wrap: nowrap;
}
.vs-dataTable tbody tr {
  background: linear-gradient(130deg, #1e1d49, #2c2a63);
  box-shadow: inset 0 0 4px rgba(var(--color-light-rgb), .2);
  border-radius: 0.4rem;
}
.vs-dataTable td:first-child{
  border-top-left-radius: 0.4rem;
  border-bottom-left-radius: 0.4rem;
}
.vs-dataTable td:last-child {
  border-top-right-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
}
.no-scroll {
  overflow: hidden;
}
.form-input {
  background-color: #27284a;
  border-radius: 8px;
  padding: var(--p-2) var(--p-4);
  border: 2px solid #404964;
  color: var(--color-light);
}
.form-input:focus-visible {
  outline: none;
}
.form-input:focus {
  box-shadow: 0 0 4px rgba(0, 0, 0, .4);
}
.form-input::placeholder {
  color: rgba(var(--color-light-rgb), .6);
}
